<h2>Posts</h2>
<div><%= link_to "New Post", [:new, :post] %></div>
<div><%= link_to "New Category", [:new, :category] %></div>
<div id="post-list">
<div class="sort" data-sort="score">Sort by Score <i class="icon-sort"></i></div>
<div class="sort" data-sort="title">Sort by Title <i class="icon-sort"></i></div>
<div class="list"><%= render @posts %></div>
</div>
